<!-- /* Confetti ... Copyright 2011 Patrik Svensson (http://metervara.net). All rights reserved. */
-->
<canvas id="confetti"></canvas>

<section class="instructions">
  <h1>Congratulations!</h1>
  <div class="text-center"><%= image_tag "mac_steps/congrats_sam.png", class: "congrats-sam", style: 'display:inline;' %></div>

  <h2>What’s next?</h2>

  <ol>
    <li>
      <%= image_tag "omr_logo.png", style: 'display:inline; padding: 0;' %> <strong><%= link_to "One Month Rails", "http://onemonth.com/courses/rails?utm_source=installrails", target: "_blank" %></strong> helps you build your first app in less than one month!
    </li>
    <li><strong><%= link_to "Enroll now", "http://onemonthrails.com/?utm_source=installrails", target: "_blank" %></strong> and get started learning Rails.
    </li>
  </ol>

  <p>In One Month Rails you'll learn how to code your own web apps using the most powerful and user-friendly framework available to web developers, Ruby on Rails.</p>
  <p>In this course, you will learn how to build powerful web applications using Ruby on Rails. By the end of the course, you'll also be able to build and add powerful features to your web apps including creating user accounts, allowing them to upload images and other content, and more.</p>
  <p>In just 30 days, this <%= link_to "Ruby on Rails tutorial", "http://onemonth.com/courses/rails?utm_source=installrails", target: "_blank" %> will take you from being a complete beginner to building your first web application - guaranteed!</p>

</section>

<a href="https://github.com/onemonth/install_rails"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<script>
mixpanel.track("Congratulations! Finished");
</script>
