<section class="instructions">
  <h1>Let's figure out what version of <%= @user.os %> OS you have</h1>
  <ol>
    <li>Click on the Apple icon (at the top left of your screen) and select "About This Mac"</li>
    <%= image_tag "mac_steps/select_about_this_mac.png" %>
    <%= image_tag "mac_steps/about_this_mac.png" %>
  </ol>
</section>

<div class="prompt">
  <h2>What version of Mac OS do you have?</h2>
  <div class="options">
    <%= button_to "10.9", wizard_path, name: :os_version, method: :put, class: "option" %>
    <%= button_to "10.8", wizard_path, name: :os_version, method: :put, class: "option" %>
    <%= button_to "10.7", wizard_path, name: :os_version, method: :put, class: "option" %>
    <%= button_to "10.6", wizard_path, name: :os_version, method: :put, class: "option" %>
    <%= button_to "10.5 or below", wizard_path, name: :os_version, method: :put, class: "option" %>
  </div>
</div>
