<section class="instructions">
  <h1>What version of OS X do you have?</h1>
  <ol>
    <li>
      <p>Click on the &#63743; <strong>Apple</strong> logo (at the top left of your screen)<br>and select “<strong>About This Mac</strong>”</p>
      <div class="text-center"><%= image_tag "mac_steps/select_about_this_mac.png" %></div>
      <p><small>Your version number is shown under <strong>OS X</strong></small></p>
      <div class="text-center"><%= image_tag "mac_steps/about_this_mac.png" %></div>
    </li>
  </ol>
</section>

<div class="prompt center">
  <h2>
    Select your version of OS X
  </h2>
  <div class="options">
    <%= button_to "10.11", wizard_path, name: :os_version, method: :put, class: "option" %>
    <%= button_to "10.10", wizard_path, name: :os_version, method: :put, class: "option" %>
    <%= button_to "10.9", wizard_path, name: :os_version, method: :put, class: "option" %>
    <br>
    <%= button_to "10.8", wizard_path, name: :os_version, method: :put, class: "option" %>
    <%= button_to "10.7", wizard_path, name: :os_version, method: :put, class: "option" %>
    <%= button_to "10.6", wizard_path, name: :os_version, method: :put, class: "option" %>
    <br>
    <%= button_tag "Troubleshooting", type: "button", class: "troubleshooting", data: {toggle: "collapse", target: "#trouble"} %>
  </div>
</div>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
