<section class="instructions">
  <h1>Configure Git</h1>
  <ol>
    <li>
      In your Terminal type:
      <pre><code>git config --global user.name "<strong>Your Actual Name</strong>"</code></pre>
    </li>
    <li>
      And then type:
      <pre><code>git config --global user.email "<strong>Your Actual Email</strong>"</code></pre>
      <div class="row">
        <div class="col-sm-12 note" id="prompt" style="text-align:center;">
          Your email address should be the same one associated with your <%= link_to "GitHub", "http://help.github.com/articles/set-up-git", target: "_blank" %> account. If you don't have a GitHub account already, <%= link_to 'sign up', 'https://github.com' %> for free.
        </div>
      </div>
    </li>
    <li>
      To verify your configuration, type:
      <pre><code>git config -l</code></pre>
    </li>
    <p style="text-align: center; color: rgb(154, 155, 160);">Your email and user name should appear in return</p>
    </li>
  </ol>
  <hr>

  <div class="center" id="git-intro">
    <h2>Why did we do this? What is Git?</h2>
    <p>
    Git is version control software. You will use Git to track and manage your coding history as well as get into the programming community as a whole.
    </p>
    <p>
    Later in the <%= link_to 'Fundamentals course', ENV['FUNDAMENTALS_COURSE_URL'], target: :_blank %> we'll provide a tutorial to get started with Git. For now, just install and forget about it.
    </p>
</section>

<%= render 'layouts/step_navigation' %>

<div id="trouble" class="collapse out note">
  <%= render 'layouts/disqus' %>
</div>
