<section class="instructions">
  <h1>Install Xcode</h1>
  <ol>
    <li>
      Open the Mac App Store. This can be found in your Applications Folder.
      <%= image_tag "xcode_finder.png", class: "list-image" %>
    </li>
    <li>
      Search for “Xcode” and click the “Install” button
     <div class="row">
        <div class="col-sm-12 note">
         <strong>Assuming Xcode has finished installing:</strong> Now you can check the Command Line Tools.
         </div>
      </div>
    </li>

    <li>Open Xcode. In the menu bar click on "Xcode" then select "Preferences"
      <%= image_tag "xcode_preferences.png", class: "list-image" %>
    </li>
    <li> Click the "Locations” tab and verify your version below <small>
      <%= image_tag "xcode_command_line_tool.png", class: "list-image" %>
    </li>
  </ol>
</section>


<section class="prompt center">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
  <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
  <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
</section>


<div id="trouble" class="collapse out note">

  <div class="disqus">
    <%= render 'layouts/disqus' %>
  </div>

</div>