<section class="instructions">
  <h1>Time to install Rails!</h1>
  <ol>
    <li>
      Visit the site <%= link_to "Railsinstaller.com", "http://www.railsinstaller.com", target: "_blank" %> and choose from ONE of the following options to download RailsInstaller.<br><br>
      <small>Note: Windows users please download Ruby 1.9. Mac users please choose your version: <%= current_user.try(:os_version) %></small><br><br>

      <div class="alert alert-info">
        <i class="icon-warning-sign"></i> Looking for Ruby 2 and Rails 4?<br>
        <i class="icon-check-sign"></i> We'll be upgrading in the next couple of steps.
      </div>

      <div class="center">
        <%= link_to (image_tag "railsinstaller.png", alt: "RailsInstaller"), "http://www.railsinstaller.com", target: "_blank" %>

      </div>


    </li>
    <li>
      <small>Once the file has fully downloaded, double-click it to open the installer wizard.</small>
      <%= image_tag "mac_steps/installer_wizard.png", alt: "RailsInstaller Wizard" %>
    </li>
    <li>
      Click '<strong>Next</strong>' for each step - it's okay to accept the default settings.
      <%= image_tag "mac_steps/rails_one_click.png" %>
    </li>
    <li>
      When prompted, enter your <strong>name</strong> and <strong>email address</strong><br><small>(don't worry, no one will see this email or spam you, this is purely for setup purposes).</small>
    </li>
  </ol>
</section>


<section class="prompt center">
  <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
  <%= link_to "Next Step", next_wizard_path, class: "option"%>
</section>

