<section class="instructions">
  <h1>RailsInstaller</h1>
  <p>The easiest way to get you started is to use Rails Installer. This will install Rails, Ruby, Git and SQLite (don’t worry if you don’t know what all this means -- they’re just a bunch of things you'll need on your computer to code with Rails).</p>
  <ol>
    <li>Go to <%= link_to "RailsInstaller.com", "http://railsinstaller.com", target: "_blank" %></li>
    <li>
      Scroll to the bottom of the page and download the installer for
      <strong><%= current_user.os %> <%= current_user.os_version %></strong>
    </li>
    <%= image_tag "railsinstaller.png" %>
    <li>Once the file has fully downloaded (it may take a few minutes), double click on it. This will open the installer wizard (Alohomora and what not).</li>
    <li>Click next for each step – it’s ok to accept the defaults.</li>
    <li>When prompted, enter your name and email address (don’t worry, no one will see this email or spam you, this is purely for setup purposes).</li>
    </li>
  </ol>
</section>

<section class="prompt">
  <%= link_to "Next Step", next_wizard_path, class: "option" %>
</section>
