<section class="instructions">
  <h1>Time to install Rails!</h1>
  <ol>
    <li>Visit the site <%= link_to "Railsinstaller.org", "http://railsinstaller.org/en", target: "_blank" %> and choose from ONE of the following options to download RailsInstaller.<br><br>
      <small>
        <% if windows? %>
          Please download from "Want to live on the edge?" download near the bottom.
        <% elsif mac? %>
          Please choose your version <%= os_version %> from the right.
        <% end %>
      </small>

      <div class="text-center">
        <%= link_to (image_tag "railsinstaller-mac-windows.jpg", alt: "RailsInstaller"), "http://railsinstaller.org/en", target: "_blank" %>
      </div>
    </li>

    <li>
      <small>Once the file has fully downloaded, double-click it to open the installer wizard.</small>
      <div class="text-center"><%= image_tag "mac_steps/installer_wizard.png", alt: "RailsInstaller Wizard" %></div>
    </li>

    <li>
      Click '<strong>Next</strong>' for each step - it's okay to accept the default settings.
      <div class="text-center"><%= image_tag "mac_steps/rails_one_click.png" %></div>
    </li>

    <li>
      When prompted, enter your <strong>name</strong> and <strong>email address</strong><br><small>(don't worry, no one will see this email or spam you, this is purely for setup purposes).</small>
    </li>
  </ol>
</section>

<%= render partial: "layouts/step_navigation" %>

<div id="trouble" class="collapse out note">
  <% if mac? %>
    <h4><i class="icon-warning-sign"></i> Looking for Ruby 2 and Rails 4 for Mac?</h4>
    <h4><i class="icon-check-sign"></i>&nbsp; We'll be upgrading in the next couple of steps. Be sure to finish the whole tutorial.</h4>
    <hr>
    <h4><strong>Q:</strong> How do I fix the error <code>/opt/rix to rvm</code>?</h4>
    <h4><strong>A:</strong> Restart your computer</h4>
  <% end %>

  <hr><br>
  <%= render 'layouts/disqus' %>
</div>
