<section class="instructions">
  <h1>Time to install Rails!</h1>
  <ol>
    <li>
      <p>Visit the site <%= link_to "Railsinstaller.org", "http://railsinstaller.org/en", target: "_blank" %> and choose from ONE of the following options to download RailsInstaller.</p>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <%= link_to image_tag("windows/install_rails_step1.png", alt: "RailsInstaller", class: "img-responsive"), "http://railsinstaller.org/en", target: "_blank" %>
        </div>
      </div>
    </li>

    <li>
      <p>Once the file has fully downloaded, double-click it to open the installer wizard.</p>
      <div class="text-center"><%= image_tag "windows/install_rails_step2.png", alt: "RailsInstaller Wizard" %></div>
    </li>

    <li>
      <p>Click '<strong>Next</strong>' for each step - it's okay to accept the default settings.</p>
      <div class="text-center"><%= image_tag "windows/install_rails_step3.png" %></div>
    </li>

    <li>
      <p>When prompted, enter your <strong>name</strong> and <strong>email address</strong><br><small>(don't worry, no one will see this email or spam you, this is purely for setup purposes).</small></p>
    </li>
  </ol>
</section>

<%= render partial: "layouts/step_navigation" %>

<div id="trouble" class="collapse out note">
  <hr><br>

  <%= render 'layouts/disqus' %>
</div>
