<!DOCTYPE html>
<html>
<head>
  <title>InstallRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= yield(:header) %>

<% if content_for? :container_override? %>
  <%= yield %>
<% else %>
  <%= content_tag :div, class: "container" do %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  <% end %>
<% end %>

<% if content_for?(:footer) %>
  <footer>
    <div class="container">
      <%= yield(:footer) %>
    </div>
  </footer>
<% end %>

</body>
</html>
