<!DOCTYPE html>
<html>
<head>
  <title>Install Rails | Your Guide for Installing Ruby on Rails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43180860-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-43180860-1');
</script>

  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %> <%= params[:id] %>">

  <%= yield(:header) %>

  <% if content_for? :container_override? %>
    <%= yield %>
  <% else %>
    <%= content_tag :div, class: "container" do %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    <% end %>
  <% end %>

  <% if content_for?(:footer) %>
    <footer>
      <div class="container container-disqus">
        <%= yield(:footer) %>
        <%= render partial: "layouts/development" if Rails.env.development? %>
      </div>
    </footer>
  <% end %>

</body>
</html>
