<% content_for(:header) do %>
  <header>
    <div class="container">
      <%= link_to (content_tag(:i, nil, class: "icon-beaker") + " InstallRails.com"), root_path, class: "site-title" %>
      <ul class="nav nav-pills pull-right">
        <li><%= link_to "Back", previous_wizard_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Log out", signout_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <div class="container">
    Progress: <%= progress_bar %>
  </div>

<% end %>

<% content_for(:footer) do %>
  <%= debug(params) if Rails.env.development? %>
  <%= debug(current_user) if Rails.env.development? && current_user %>
<% end %>

<%= render template: "layouts/application" %>


